<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{context.name}} - Django-ZODB Wiki Sample</title>
</head>

<body>
    <h1>{{context.name}}</h1>
    <div id="content">{{content|safe}}</div>
    <p><a href="{{edit_link}}">edit</a></p>
    <h2>Links:</h2>
    <ul>
    {% for page in root.pages %}
      <li><a href="{{page.get_absolute_url}}">{{page.name}}</a></li>
    {% endfor %}
    </ul>
</body>
</html>
